#forgotPassword {
  text-align: center;
  background: url(../../images/AnalyticBackground.jpg) no-repeat
    center center;
  background-size: cover;
  height: 60em;
  margin-top: -2em;
  min-width: 800px;
}
#forgotPassword__loginBox {
  background-color: #6c0018;
  height: 30em;
  width: 40em;
  margin: auto;
  margin-bottom: 10em;
  margin-top: 7em;
  border: 5px solid #f59604;
}
.forgotPassword__h1 {
  color: #f59604;
}
