

#pageHolder {
    text-align: center;
}

#loginBox {
    background-color: #6c0018;
    height: 30em;
    width: 40em;
    margin: auto;
    margin-bottom: 10em;
    margin-top: 10em;
    border: 5px solid #f59604;
}

#sparkyImg {
    width: 40em;
    height: 28em;
    margin-top: 2em;
    opacity: 0.5;
    position: absolute;
    margin-left: -20em;
}

#login {
    position: absolute;
    margin-left: 4em;
    font-size: 4em;
    color: #f59604;
    text-shadow: 3px 3px black, -3px -3px black, 3px -3px black, -3px 3px black;
}
