#signupBox {
    background: url(../../images/pitchfork.jpg) no-repeat center;
    background-color: #6c0018;
    height: 30em;
    width: 40em;
    margin: auto;
    margin-bottom: 10em;
    margin-top: 10em;
    border: 5px solid #f59604;
}

#SignupPage {
    font-size: 4em;
    color: #f59604;
    text-shadow: 3px 3px black, -3px -3px black, 3px -3px black,
      -3px 3px black;
      font-style: italic;
  }