.allPlayerFrame {
  margin-top: 10px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: auto;
  flex-direction: column;
  position: static;
  min-width: 1000px;
}
.allPlayerFrame__text {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: normal;
  padding: 10px;
  color: white;
}
.allPlayerFrame__searchField {
  border-radius: 40px;
  border-width: 1px;
}
.allPlayerFrame__searchButton {
  background-color: rgb(255, 255, 255) !important;
  color: white !important;
  height: 21px !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 40px !important;
}
.allPlayerFrame__searchButtonImage {
  width: 15px;
}
.allPlayerFrame_search {
  position: -webkit-sticky; 
  position: sticky;
  top: 0px;
  padding-left: 82%;
  padding-right: 21%; 
  z-index:2;
}