.savedPlayers {
    display: flex;
   
    position: relative;
   
    margin-left: 1%;
    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
   
    padding: 2rem 0;
    z-index: 1;
  }
  .savedPlayers:hover {
    
  }
  .savedPlayers__modal {
    
  }
  .savedPlayers__modal__img {
   
  }
  .savedPlayers__avatar {

  }
  .savedPlayers__text {
 
  }
  .savedPlayers__button {
   
  }
  .savedPlayers__button:hover {
   
  }
  