.players__header {
  margin-top: 20%;
  background-color:transparent;
  display: flex;
  flex-direction: column;
  height: 3em;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 80px;
  
}
#players__text {
  position: absolute;
  color: white;
  left: 5%;
top:150px;
}
#players__positions {
  position: absolute;
  right: 2em;
  top:150px;
}
.players__positions__btn {
  margin: 0.4em;
  margin-top: 1.8em;
  width: 4em;
  height: 3em;
  border-radius: 30%;
}
#players__viewPage {
  background-color: transparent;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
#players__analysis {
  height: 100vh;
  float: left;
  border-right: none;
  margin-top: -1em;
  margin-bottom: -1em;
  margin-left: .5em;
  margin-right: .5em;
  justify-content: center; 
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
#players__analysis::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.players__hotPicks {
  /*height: 100vh;
  border: 3px solid darkblue;
  float: right;
  background-color: lightblue;
  position: relative;
  margin-top: -1em;
  margin-right: 6em;
  margin-bottom: 4em;
  padding-top: -2em;
  justify-content: center;
  vertical-align: top;
  overflow: scroll;*/
}
.players__background {
  background: url(../../images/PlayerBackground.jpg) no-repeat center center;
  margin-top: -20%;
}
