.analytics__background {
  background: url(../../images/LoginBackground.jpg) no-repeat center
    center;
  margin-top: -0%;
  background-size: cover;
  min-width: 700px;
}
.analytics__header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 3em;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 80px;
  width: 100%;
}
#analytics__positions {
  position: absolute;
  margin-left: 10%;
  margin-top: 5em;
}
.analytics__positions__btn {
  margin: 0.4em;
  margin-top: 1em;
  width: 4em;
  height: 3em;
  border-radius: 30%;
}
#analytics_viewPage {
  background-color: transparent;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
#analytics__analysis {
  height: auto;
  width: 60em;
  border: 3px solid black;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-top: -7em;
  margin-bottom: 16em;
  margin-left: 2em;
  margin-right: 2em;
  overflow: hidden;
  justify-content: center;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 5px;
  padding-bottom: 50px;
  min-height: 300px;
}
