.topPlayerFrame {
  height: auto;
  width: 300px;
  border: 1px solid lightgray;
  padding: 10px;
  position: relative;
  display: inline-grid;
  margin: 30px;
  left: 15%;
}

.topPlayerTitle {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 130vh;
}

.component6 {
  display: flex;
  position: relative;
  border: 1px solid lightgray;
  top: 100%;
  right: 50px;
  transform: translateY(-130%);
  max-width: 500px;
  padding: 10px;
}

.title {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.topPlayerDate {
}

.date {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.topPlayers {
}

.players {
  object-fit: contain;
  padding: 20px;
}
