.topPlayerTitle{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.topPlayerDate{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.topPlayers{
  object-fit: contain;
  padding: 20px;
}
.topPlayerFrame{
  display: flex;
  padding: 10px;
  height: auto;
  width:300px;
  border: 1px solid lightgray;
  flex-direction: column;
  padding: 10px;
  position: static;
}